<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://fujob2.database.windows.net:1433;database=FuJobDB;user=se150222;password=jmpemldekukpuual@1;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.transaction.flush_before_completion">true</property>
        <mapping class="se1621.entity.CategoryEntity"/>
        <mapping class="se1621.entity.CompanyEntity"/>
        <mapping class="se1621.entity.JobApplicationEntity"/>
        <mapping class="se1621.entity.JobEntity"/>
        <mapping class="se1621.entity.PaymentMethodEntity"/>
        <mapping class="se1621.entity.ResumeEntity"/>
        <mapping class="se1621.entity.RoleEntity"/>
        <mapping class="se1621.entity.SkillEntity"/>
        <mapping class="se1621.entity.UserEntity"/>
        <mapping class="se1621.entity.DisputeEntity"/>
        <mapping class="se1621.entity.EvidenceEntity"/>
        <mapping class="se1621.entity.EvaluateCompletionEntity"/>
        <mapping class="se1621.entity.SubmitJobEntity"/>
    </session-factory>
</hibernate-configuration>
