<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Jobya - Responsive Job Board HTML Template</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta content="Themesdesign" name="author"/>

    <link href="images/favicon.ico" rel="shortcut icon">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--Material Icon -->
    <link href="css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>

    <link href="css/fontawesome.css" rel="stylesheet" type="text/css"/>

    <!-- selectize css -->
    <link href="css/selectize.css" rel="stylesheet" type="text/css"/>

    <link href="css/nice-select.css" rel="stylesheet" type="text/css"/>

    <!-- Custom  Css -->
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navigation Bar-->
<header class="defaultscroll scroll-active" id="topnav">
    <!-- Tagline STart -->
    <div class="tagline">
        <div class="container">
            <div class="float-left">
                <div class="phone">
                    <i class="mdi mdi-phone-classic"></i> +1 800 123 45 67
                </div>
                <div class="email">
                    <a href="#">
                        <i class="mdi mdi-email"></i> Support@mail.com
                    </a>
                </div>
            </div>
            <div class="float-right">
                <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-account mr-2"></i>Benny
                        Simpson</a></li>
                    <li class="list-inline-item">
                        <select class="demo-default" id="select-lang">
                            <option value="">Language</option>
                            <option value="4">English</option>
                            <option value="1">Spanish</option>
                            <option value="3">French</option>
                            <option value="5">Hindi</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Tagline End -->

    <!-- Menu Start -->
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="index.html">
                <img alt="" class="logo-light" height="18" src="images/logo-light.png"/>
                <img alt="" class="logo-dark" height="18" src="images/logo-dark.png"/>
            </a>
        </div>
        <div class="buy-button">
            <a class="btn btn-primary" href="post-a-job.html"><i class="mdi mdi-cloud-upload"></i> Post a Job</a>
        </div><!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="index.html">Home</a></li>
                <li class="has-submenu">
                    <a href="javascript:void(0)">Jobs</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="job-list.html">Job List</a></li>
                        <li><a href="job-grid.html">Job Grid</a></li>
                        <li><a href="job-details.html">Job Details</a></li>
                        <li><a href="job-details-2.html">Job Details-2</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="faq.html">Faqs</a></li>
                        <li><a href="pricing.html">Pricing plans</a></li>
                        <li class="has-submenu"><a href="javascript:void(0)"> Candidates</a><span
                                class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="candidates-listing.html">Candidates Listing</a></li>
                                <li><a href="candidates-profile.html">Candidates Profile</a></li>
                                <li><a href="create-resume.html">Create Resume</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu"><a href="javascript:void(0)"> Blog</a><span
                                class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="blog-grid.html">Blogs</a></li>
                                <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu"><a href="javascript:void(0)"> Employers</a><span
                                class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="employers-list.html">Employers List</a></li>
                                <li><a href="company-detail.html">Company Detail</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu"><a href="javascript:void(0)"> User Pages</a><span
                                class="submenu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Signup</a></li>
                                <li><a href="recovery_passward.html">Forgot Password</a></li>
                            </ul>
                        </li>
                        <li><a href="components.html"> Components</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">contact</a>
                </li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
    <!--end end-->
</header><!--end header-->
<!-- Navbar End -->

<!-- Start home -->
<section class="bg-half page-next-level">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h4 class="text-uppercase title mb-4">Components</h4>
                    <ul class="page-next d-inline-block mb-0">
                        <li><a class="text-uppercase font-weight-bold" href="index.html">Home</a></li>
                        <li><a class="text-uppercase font-weight-bold" href="#">Pages</a></li>
                        <li>
                            <span class="text-uppercase text-white font-weight-bold">Components</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0">Buttons</h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn
                                    btn-primary"&gt; Primary &lt;/a&gt;</code></h6>

                                <a class="btn btn-primary mb-3 mr-2" href="javascript:void(0)">Primary</a>
                                <a class="btn btn-secondary mb-3 mr-2" href="javascript:void(0)">Secondary</a>
                                <a class="btn btn-success mb-3 mr-2" href="javascript:void(0)">Success</a>
                                <a class="btn btn-danger mb-3 mr-2" href="javascript:void(0)">Danger</a>
                                <a class="btn btn-info mb-3 mr-2" href="javascript:void(0)">Info</a>
                                <a class="btn btn-warning mb-3 mr-2" href="javascript:void(0)">Warning</a>
                                <a class="btn btn-light mb-3 mr-2" href="javascript:void(0)">Light</a>
                                <a class="btn btn-dark mb-3 mr-2" href="javascript:void(0)">Dark</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0">Buttons Pill</h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn
                                    btn-primary rounded-pill"&gt; Primary &lt;/a&gt;</code></h6>

                                <a class="btn btn-primary rounded-pill mb-3 mr-2" href="javascript:void(0)">Primary</a>
                                <a class="btn btn-secondary rounded-pill mb-3 mr-2"
                                   href="javascript:void(0)">Secondary</a>
                                <a class="btn btn-success rounded-pill mb-3 mr-2" href="javascript:void(0)">Success</a>
                                <a class="btn btn-danger rounded-pill mb-3 mr-2" href="javascript:void(0)">Danger</a>
                                <a class="btn btn-info rounded-pill mb-3 mr-2" href="javascript:void(0)">Info</a>
                                <a class="btn btn-warning rounded-pill mb-3 mr-2" href="javascript:void(0)">Warning</a>
                                <a class="btn btn-light rounded-pill mb-3 mr-2" href="javascript:void(0)">Light</a>
                                <a class="btn btn-dark rounded-pill mb-3 mr-2" href="javascript:void(0)">Dark</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0">Buttons Outline</h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn
                                    btn-primary-outline"&gt; Primary &lt;/a&gt;</code></h6>

                                <a class="btn btn-primary-outline mb-3 mr-2" href="javascript:void(0)">Primary</a>
                                <a class="btn btn-secondary-outline mb-3 mr-2" href="javascript:void(0)">Secondary</a>
                                <a class="btn btn-success-outline mb-3 mr-2" href="javascript:void(0)">Success</a>
                                <a class="btn btn-danger-outline mb-3 mr-2" href="javascript:void(0)">Danger</a>
                                <a class="btn btn-info-outline mb-3 mr-2" href="javascript:void(0)">Info</a>
                                <a class="btn btn-warning-outline mb-3 mr-2" href="javascript:void(0)">Warning</a>
                                <a class="btn btn-light-outline mb-3 mr-2" href="javascript:void(0)">Light</a>
                                <a class="btn btn-dark-outline mb-3 mr-2" href="javascript:void(0)">Dark</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0">Button Sizing</h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn
                                    btn-primary btn-sm"&gt; Primary &lt;/a&gt;</code></h6>

                                <a class="btn btn-primary btn-sm mb-3 mr-2" href="javascript:void(0)">Primary</a>
                                <a class="btn btn-warning mb-3 mr-2" href="javascript:void(0)">Warning</a>
                                <a class="btn btn-success btn-lg mb-3 mr-2" href="javascript:void(0)">Success</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0">Accordions</h4>
                            </div>

                            <div class="p-4">
                                <div class="faq-content">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card border rounded shadow mb-2">
                                            <a aria-controls="collapseOne" aria-expanded="true" class="faq position-relative"
                                               data-toggle="collapse" href="#collapseOne">
                                                <div class="card-header bg-light p-3" id="headingOne">
                                                    <h4 class="title mb-0 faq-question"> Accordion #1 </h4>
                                                </div>
                                            </a>
                                            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample"
                                                 id="collapseOne">
                                                <div class="card-body">
                                                    <p class="text-muted mb-0 faq-ans">There are many variations of
                                                        passages of Lorem Ipsum available, but the majority have
                                                        suffered alteration in some form.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card border rounded shadow mb-2">
                                            <a aria-controls="collapseTwo" aria-expanded="false"
                                               class="faq position-relative collapsed" data-toggle="collapse"
                                               href="#collapseTwo">
                                                <div class="card-header bg-light p-3" id="headingTwo">
                                                    <h4 class="title mb-0 faq-question"> Accordion #2 </h4>
                                                </div>
                                            </a>
                                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample"
                                                 id="collapseTwo">
                                                <div class="card-body">
                                                    <p class="text-muted mb-0 faq-ans">There are many variations of
                                                        passages of Lorem Ipsum available, but the majority have
                                                        suffered alteration in some form.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card rounded shadow mb-0">
                                            <a aria-controls="collapsefive" aria-expanded="false"
                                               class="faq position-relative collapsed" data-toggle="collapse"
                                               href="#collapsefive">
                                                <div class="card-header bg-light p-3" id="headingfive">
                                                    <h4 class="title mb-0 faq-question"> Accordion #3 </h4>
                                                </div>
                                            </a>
                                            <div aria-labelledby="headingfive" class="collapse" data-parent="#accordionExample"
                                                 id="collapsefive">
                                                <div class="card-body">
                                                    <p class="text-muted mb-0 faq-ans">There are many variations of
                                                        passages of Lorem Ipsum available, but the majority have
                                                        suffered alteration in some form.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Text Color </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;div
                                    class="text-primary"&gt; Landrick Saas & Software Template &lt;/div&gt;</code></h6>

                                <h6 class="text-primary">.text-primary</h6>
                                <h6 class="text-secondary">.text-secondary</h6>
                                <h6 class="text-success">.text-success</h6>
                                <h6 class="text-danger">.text-danger</h6>
                                <h6 class="text-warning">.text-warning</h6>
                                <h6 class="text-info">.text-info</h6>
                                <h6 class="text-light bg-dark">.text-light</h6>
                                <h6 class="text-white bg-dark">.text-white</h6>
                                <h6 class="text-white-50 bg-dark">.text-white-50</h6>
                                <h6 class="text-dark">.text-dark</h6>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Avatars </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;img
                                    src="images/home/01.jpg" class="img-fluid avatar avatar-small mr-3
                                    rounded-pill"&gt;</code></h6>

                                <img alt=""
                                     class="img-fluid avatar avatar-small mr-3 rounded-pill" src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/">
                                <img alt=""
                                     class="img-fluid avatar avatar-medium mr-3 rounded-pill" src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/">
                                <img alt=""
                                     class="img-fluid avatar avatar-large mr-3 rounded-pill" src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/">
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Google Map </h4>
                            </div>

                            <div class="p-4">
                                <div class="map">
                                    <iframe allowfullscreen
                                            class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin" style="border:0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Nav Tabs </h4>
                            </div>

                            <div class="p-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="nav nav-pills nav nav-pills bg-white rounded nav-justified flex-column flex-sm-row"
                                            id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a aria-controls="pills-cloud" aria-selected="true"
                                                   class="nav-link rounded active" data-toggle="pill" href="#pills-cloud"
                                                   id="pills-cloud-tab" role="tab">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a aria-controls="pills-smart" aria-selected="false" class="nav-link rounded"
                                                   data-toggle="pill" href="#pills-smart" id="pills-smart-tab"
                                                   role="tab">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a aria-controls="pills-apps" aria-selected="false" class="nav-link rounded"
                                                   data-toggle="pill" href="#pills-apps" id="pills-apps-tab"
                                                   role="tab">Service</a>
                                            </li>
                                        </ul>
                                    </div><!--end col-->
                                </div><!--end row-->

                                <div class="row mt-4 pt-2">
                                    <div class="col-12">
                                        <div class="tab-content" id="pills-tabContent">
                                            <div aria-labelledby="pills-cloud-tab" class="tab-pane fade show active" id="pills-cloud"
                                                 role="tabpanel">
                                                <p class="text-muted mb-0">You can combine all the Landrick templates
                                                    into a single one, you can take a component from the Application
                                                    theme and use it in the Website.</p>
                                            </div><!--end teb pane-->

                                            <div aria-labelledby="pills-smart-tab" class="tab-pane fade" id="pills-smart"
                                                 role="tabpanel">
                                                <p class="text-muted mb-0">You can combine all the Landrick templates
                                                    into a single one, you can take a component from the Application
                                                    theme and use it in the Website.</p>
                                            </div><!--end teb pane-->

                                            <div aria-labelledby="pills-apps-tab" class="tab-pane fade" id="pills-apps"
                                                 role="tabpanel">
                                                <p class="text-muted mb-0">You can combine all the Landrick templates
                                                    into a single one, you can take a component from the Application
                                                    theme and use it in the Website.</p>
                                            </div><!--end teb pane-->
                                        </div><!--end tab content-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Breadcrumb </h4>
                            </div>

                            <div class="p-4 bg-dark rounded-bottom page-next-level">
                                <ul class="page-next d-inline-block mb-0">
                                    <li><a class="text-uppercase font-weight-bold" href="#">Home</a></li>
                                    <li><a class="text-uppercase font-weight-bold" href="#">Pages</a></li>
                                    <li>
                                        <span class="text-uppercase text-white font-weight-bold">Components</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Pagination </h4>
                            </div>

                            <div class="p-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination mb-0 job-pagination">
                                        <li class="page-item disabled">
                                            <a aria-disabled="true" class="page-link" href="#" tabindex="-1">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Icons </h4>
                            </div>

                            <div class="p-4">
                                <h6>Material Design Icons</h6>
                                <p class="text-muted">There are 4400+ Material Design icons and you can get all icons
                                    info from here: <a href="https://materialdesignicons.com/" target="_blank"><code
                                            class="text-primary">https://materialdesignicons.com/</code></a></p>
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;i class="mdi
                                    mdi-home"&gt; &lt;/i&gt;</code></h6>

                                <i class="mdi mdi-home h4 mr-2"></i>
                                <i class="mdi mdi-facebook h4 mr-2"></i>
                                <i class="mdi mdi-chevron-tight h4 mr-2"></i>
                                <i class="mdi mdi-camera-image h4 mr-2"></i>
                                <i class="mdi mdi-car-light-high h4 mr-2"></i>
                                <i class="mdi mdi-silverware-fork-knife h4 mr-2"></i>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Typography </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;h1&gt; H1. Bootstrap
                                    heading &lt;/h1&gt;</code></h6>

                                <h1>H1. Bootstrap heading</h1>
                                <h2>H2. Bootstrap heading</h2>
                                <h3>H3. Bootstrap heading</h3>
                                <h4>H4. Bootstrap heading</h4>
                                <h5>H5. Bootstrap heading</h5>
                                <h6>H6. Bootstrap heading</h6>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Display Heading </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;p class="display-1"&gt;
                                    Display 1 &lt;/p&gt;</code></h6>

                                <p class="display-1">Display 1</p>
                                <p class="display-2">Display 2</p>
                                <p class="display-3">Display 3</p>
                                <p class="display-4">Display 4</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Badges </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;span class="badge
                                    badge-primary"&gt; primary &lt;/span&gt;</code></h6>

                                <span class="badge badge-primary mr-2 mb-2">Primary</span>
                                <span class="badge badge-secondary mr-2 mb-2">Secondary</span>
                                <span class="badge badge-success mr-2 mb-2">Success</span>
                                <span class="badge badge-danger mr-2 mb-2">Danger</span>
                                <span class="badge badge-warning mr-2 mb-2">Warning</span>
                                <span class="badge badge-info mr-2 mb-2">Info</span>
                                <span class="badge badge-light mr-2 mb-2">Light</span>
                                <span class="badge badge-dark mr-2 mb-2">Dark</span>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Pill Badges </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;span class="badge
                                    badge-primary rounded"&gt; primary &lt;/span&gt;</code></h6>

                                <span class="badge badge-primary rounded mr-2 mb-2">Primary</span>
                                <span class="badge badge-secondary rounded mr-2 mb-2">Secondary</span>
                                <span class="badge badge-success rounded mr-2 mb-2">Success</span>
                                <span class="badge badge-danger rounded mr-2 mb-2">Danger</span>
                                <span class="badge badge-warning rounded mr-2 mb-2">Warning</span>
                                <span class="badge badge-info rounded mr-2 mb-2">Info</span>
                                <span class="badge badge-light rounded mr-2 mb-2">Light</span>
                                <span class="badge badge-dark rounded mr-2 mb-2">Dark</span>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Alert </h4>
                            </div>

                            <div class="p-4">
                                <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;div class="alert
                                    alert-primary" role="alert"&gt; A simple primary alert—check it out!
                                    &lt;/div&gt;</code></h6>

                                <div class="alert alert-primary" role="alert"> A simple primary alert—check it out!
                                </div>
                                <div class="alert alert-secondary" role="alert"> A simple secondary alert—check it
                                    out!
                                </div>
                                <div class="alert alert-success" role="alert"> A simple success alert—check it out!
                                </div>
                                <div class="alert alert-danger" role="alert"> A simple danger alert—check it out!</div>
                                <div class="alert alert-warning" role="alert"> A simple warning alert—check it out!
                                </div>
                                <div class="alert alert-info" role="alert"> A simple info alert—check it out!</div>
                                <div class="alert alert-light" role="alert"> A simple light alert—check it out!</div>
                                <div class="alert alert-dark" role="alert"> A simple dark alert—check it out!</div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Forms </h4>
                            </div>

                            <div class="p-4">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Your Name <span class="text-danger">*</span></label>
                                                <input class="form-control" id="name" name="name" placeholder="First Name :"
                                                       type="text">
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Your Email <span class="text-danger">*</span></label>
                                                <input class="form-control" id="email" name="email" placeholder="Your email :"
                                                       type="email">
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Subject</label>
                                                <input class="form-control" id="subject" name="subject"
                                                       placeholder="Your subject :">
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Comments</label>
                                                <textarea class="form-control" id="comments" name="comments" placeholder="Your Message :"
                                                          rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <input class="btn btn-primary" id="submit" name="send" type="submit"
                                                   value="Send Message">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Progressbar </h4>
                            </div>

                            <div class="p-4">
                                <div class="progress-box">
                                    <h6 class="title text-muted">WordPress</h6>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped position-relative bg-primary"
                                             style="width:84%;">
                                            <div class="progress-value d-block text-muted h6">84%</div>
                                        </div>
                                    </div>
                                </div><!--end process box-->
                                <div class="progress-box mt-4">
                                    <h6 class="title text-muted">PHP / MYSQL</h6>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped position-relative bg-primary"
                                             style="width:75%;">
                                            <div class="progress-value d-block text-muted h6">75%</div>
                                        </div>
                                    </div>
                                </div><!--end process box-->
                                <div class="progress-box mt-4">
                                    <h6 class="title text-muted">Angular / JavaScript</h6>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped position-relative bg-primary"
                                             style="width:79%;">
                                            <div class="progress-value d-block text-muted h6">79%</div>
                                        </div>
                                    </div>
                                </div><!--end process box-->
                                <div class="progress-box mt-4">
                                    <h6 class="title text-muted">HTML / CSS</h6>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped position-relative bg-primary"
                                             style="width:95%;">
                                            <div class="progress-value d-block text-muted h6">95%</div>
                                        </div>
                                    </div>
                                </div><!--end process box-->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Checkboxes </h4>
                            </div>

                            <div class="p-4">
                                <div class="form-check form-check-inline">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                                            <label class="custom-control-label" for="customCheck1">One</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check form-check-inline">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="customCheck2" type="checkbox">
                                            <label class="custom-control-label" for="customCheck2">Two</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check form-check-inline">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" disabled id="customCheck3"
                                                   type="checkbox">
                                            <label class="custom-control-label" for="customCheck3">Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Radio Buttons </h4>
                            </div>

                            <div class="p-4">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <div class="form-group">
                                        <input class="custom-control-input" id="customRadio1" name="customRadio"
                                               type="radio">
                                        <label class="custom-control-label" for="customRadio1">Yes</label>
                                    </div>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <div class="form-group">
                                        <input class="custom-control-input" id="customRadio2" name="customRadio"
                                               type="radio">
                                        <label class="custom-control-label" for="customRadio2">No</label>
                                    </div>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <div class="form-group">
                                        <input class="custom-control-input" disabled id="customRadio3" name="customRadio"
                                               type="radio">
                                        <label class="custom-control-label" for="customRadio3">Disabled</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Switches Button </h4>
                            </div>

                            <div class="p-4">
                                <div class="custom-control custom-switch">
                                    <div class="form-group">
                                        <input class="custom-control-input" id="customSwitch1" type="checkbox">
                                        <label class="custom-control-label" for="customSwitch1">Toggle this switch
                                            element</label>
                                    </div>
                                </div>
                                <div class="custom-control custom-switch">
                                    <div class="form-group">
                                        <input class="custom-control-input" disabled id="customSwitch2" type="checkbox">
                                        <label class="custom-control-label" for="customSwitch2">Disabled switch
                                            element</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Subscribe Form </h4>
                            </div>

                            <div class="p-4">
                                <form>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input aria-describedby="newssubscribebtn" class="form-control" id="email2" name="email"
                                                   placeholder="Your email :" required
                                                   type="email">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary submitBnt" id="newssubscribebtn"
                                                        type="submit">Subscribe
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form><!--end form-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> Blockquotes </h4>
                            </div>

                            <div class="p-4">
                                <blockquote class="blockquote p-3">
                                    <p class="text-muted mb-0 font-italic">" There are many variations of passages of
                                        Lorem Ipsum available, but the majority have suffered alteration in some form,
                                        by injected humour, or randomised words which don't look even slightly
                                        believable. "</p>
                                </blockquote>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- footer start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="javascript:void(0)"><img alt="" height="20" src="images/logo-light.png"></a>
                <p class="mt-4">At vero eos et accusamus et iusto odio dignissim os ducimus qui blanditiis
                    praesentium</p>
                <ul class="social-icon social list-inline mb-0">
                    <li class="list-inline-item"><a class="rounded" href="#"><i class="mdi mdi-facebook"></i></a></li>
                    <li class="list-inline-item"><a class="rounded" href="#"><i class="mdi mdi-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="rounded" href="#"><i class="mdi mdi-instagram"></i></a></li>
                    <li class="list-inline-item"><a class="rounded" href="#"><i class="mdi mdi-google"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title">Company</p>
                <ul class="list-unstyled footer-list">
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Media & Press</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Career</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Pricing</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Marketing</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> CEOs </a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Agencies</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Our Apps</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title">Resources</p>
                <ul class="list-unstyled footer-list">
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Support</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Terms</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Accounting </a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> Billing</a></li>
                    <li><a class="text-foot" href="#"><i class="mdi mdi-chevron-right"></i> F.A.Q.</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <p class="text-white mb-4 footer-list-title f-17">Business Hours</p>
                <ul class="list-unstyled text-foot mt-4 mb-0">
                    <li>Monday - Friday : 9:00 to 17:00</li>
                    <li class="mt-2">Saturday : 10:00 to 15:00</li>
                    <li class="mt-2">Sunday : Day Off (Holiday)</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<hr>
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="">
                    <p class="mb-0">© 2019 -2020 Jobya. Design with <i class="mdi mdi-heart text-danger"></i> by
                        Themesdesign.</p>
                </div>
            </div>
        </div>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a class="back-to-top rounded text-center" href="#" id="back-to-top">
    <i class="mdi mdi-chevron-up d-block"> </i>
</a>
<!-- Back to top -->

<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/plugins.js"></script>

<!-- selectize js -->
<script src="js/selectize.min.js"></script>

<script src="js/jquery.nice-select.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>